.card-link {
  text-decoration: none;
  display: inline-block;
}

.card {
  position: relative;
  overflow: hidden;
  width: 18rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #e5dfdf;
  /* background-color: #f5f5f5; */
}

.image-container {
  overflow: hidden;
}

.card-image {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.text-wrapper {
  z-index: 1;
  background-color: #e5dfdf;
  color: #131316;
  padding: 0.5rem 1rem;
}

.text-wrapper h4,
.text-wrapper p {
  text-transform: uppercase;
  margin: 0;
}

.card:hover {
  border-color: #0c2ff2;
}

.card:hover .card-image {
  transform: scale(1.1);
  /* transform: scale(1.1) rotate(10deg); */
  transition: transform 0.3s ease;
}

.card:hover .text-wrapper {
  background-color: #0c2ff2;
}

.card:hover .text-wrapper {
  background-color: #0c2ff2;
  color: #fdfbfa;
}
